.header {
  background-color: yellow;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; 
}
#logo {
  position: relative;
  width: 40%;
}
#title {
  font-size: 3rem;
  font-family: Papyrus, Verdana, sans-serif;
  text-align: center;
}
